<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.s1mple.minischoolsys.dao.MenuMapper">

    <resultMap id="MenuTree" type="com.s1mple.minischoolsys.domain.vo.MenuVo">
        <id column="menu_id" property="menu_id"/>
        <result column="path" property="path"/>
        <result column="title" property="title"/>
        <collection property="children" select="selectChildrenMenu" column="menu_id"
                    javaType="java.util.ArrayList" ofType="com.s1mple.minischoolsys.domain.Menu">
            <id column="menu_id" property="menu_id"/>
            <result column="path" property="path"/>
            <result column="title" property="title"/>
        </collection>
    </resultMap>


    <select id="selectMenuTree" resultMap="MenuTree">
        select menu_id,title,path
        from menu
        where parent_id is null
    </select>
    <select id="selectChildrenMenu" resultMap="MenuTree">
        select menu_id,title,path
        from menu
        where parent_id = #{parent_id}
    </select>
</mapper>